logs
projectFilesBackup*/*
**/*GitIgnore.*
target
tmp
.history
dist
/.idea
**/*.iml
/out
/.idea_modules
/.project
/.settings
.target/**
bin/**
.cache
/bin
*.tmp
/.target
*QuickMain*
*QuickJava*
.cache*
.idea/**
.idea/
.idea
*.sh
